trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: g++ -v
  displayName: 'Display g++ version'

- script: |
    g++ -g -std=gnu++11 test/main/test-main.o -o test/allTests -I ./include -I ./test/ArduinoMocks -I ./test/unit/mocks ./test/ArduinoMocks/*.c ./test/ArduinoMocks/*.cpp ./src/config/*.cpp ./src/device/*.cpp ./src/homie/*.cpp ./src/log/*.cpp ./src/mqtt/*.cpp ./test/unit/*.cpp
  displayName: 'Compile tests'

- script: test/allTests
  displayName: "Run all tests"
