trigger:
- master

jobs:
  - job: Build
    pool:
      vmImage: 'Ubuntu-16.04'
      container: 'aetas/platformio:4.0.3'
    steps:
      - script: "pio run"
        displayName: "Build WIFI"
      - script: "pio run"
        displayName: "Build ETHERNET"
  - job: Test
    pool:
      vmImage: 'Ubuntu-16.04'
    steps:
      - script: g++ -v
        displayName: 'Display g++ version'
      - script: |
          g++ -g -std=gnu++11 test/main/test-main.o -o test/allTests -I ./include -I ./test/ArduinoMocks -I ./test/unit/mocks ./test/ArduinoMocks/*.c ./test/ArduinoMocks/*.cpp ./src/config/Configuration.cpp ./src/config/device/*.cpp ./src/device/*.cpp ./src/homie/*.cpp ./src/log/*.cpp ./src/mqtt/*.cpp ./src/httpserver/*.cpp ./test/unit/*.cpp
        displayName: 'Compile tests'
      - script: test/allTests
        displayName: "Run all tests"
